* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: blanchedalmond;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* border: 1px solid black; */
}

main {
  padding: 0.25rem;
}

#buttons {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  min-height: 2rem;
}

button {
  background-color: aquamarine;
  border-radius: 10%;
}

#results {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-around;
  min-width: 25vw;
  width: 100%;
  border: 1px solid black;
  min-height: 2rem;
  padding-bottom: 1rem;
}

#row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  min-width: 100%;
}

#user,
#computer {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-evenly;
}

.roundResults {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border: solid 1px black;
  width: 5rem;
  height: 5rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
